body {
    margin: 0;
    padding: 0;
}

.removemMargin {
    margin: 0;
    padding: 0;
}

#home {
    background-image: url('./../img/slider_image_home@1x.png');
    background-size: cover;
    height: 780px;
}

.logo1 img {
    margin-top: 30px;
}

.nav-item {
    margin-left: 30px;
}

.round {
    border-radius: 50%;
}

.para {
    color: white;
    margin-top: 120px;
}

.para h2,
p {
    margin-top: 30px;
}

.btn {
    margin-top: 30px;
    color: white;
    border-color: white;
    width: 220px;
}

#imag {
    width: 100%;
}

.hr {
    border-top: 3px solid #dc3545;
    width: 70px;
}

h5 {
    color: #dc3545;
}

.c {
    margin-top: 60px;
    padding-right: 0;
    padding-left: 0;
}

.page-footer {
    background-image: url("./../img/news_letter_background_image_home@1x.png");
    height: 300px;
}

.jumbotron {
    margin-bottom: 0;
    padding: 0;
}

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

#carouselExampleControls {
    background-image: url('../img/categ_goming_soon_home@1x.png');
}